<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Francisco Lago | Contacto</title>
    <meta name="description" content="Envíame tu propuesta, estaré encantado de trabajar contigo">
    <meta name="keywords" content="Francisco, Lago, francisco, lago, contacto, trabajo, propuesta, fotógrafo, redes, sociales">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta property= "og:title" content="Francisco Lago | Audiovisual">
    <meta property = "og:description" content="Conoce todo el trabajo audiovisual de Francisco Lago, enterate de sus más recientes trabajos y comunicate con él para trabajar juntos">
    <meta property = "og:image" content="assets-index/foto-perfil.jpg">
    <meta name="geo.region" content="CO-VAC" />
    <meta name="geo.placename" content="Cali" />
    <meta name="geo.position" content="3.451792;-76.532494" />
    <meta name="ICBM" content="3.451792, -76.532494" />
    <link rel="stylesheet" href="../../fontawesome/all.min.css">
    <link rel="stylesheet" href="../../css/styles.css"> 
</head>
<body class="body-contact">

    <article class="h1-imagenes-container-contact">
        <h1> 
            <span>FRANCI</span><span>SCO </span> <span>LAGO</span>
        </h1>

        <ul class="nav-devices">
            <li><a rel="noreferrer noopener" href="../../index.html">HOME</a></li>
            <li><a rel="noreferrer noopener" href="../film/film.html">FILM</a></A></li></a>
            <li><a rel="noreferrer noopener" href="../gallery/gallery.html">GALLERY</a></li>
            <li><a rel="noreferrer noopener" href="../about/about.html">ABOUT</a></li>
            <li><a rel="noreferrer noopener" href="#">CONTACT</a></li>
        </ul>

        <section class="section-imagenes-contact  imagenes-flex-contact">
            <div title="Foto vertical de paisaje 1"></div>
            <div title="Foto vertical de paisaje 2"></div>
            <div title="Foto vertical de paisaje 3"></div>
        </section>

    </article>

    <div class="small-bars-contact">
        <i aria-label="Menu Bars" class="fas fa-bars"></i>
    </div>
    
    <div class="mobile-menu-contact">
        
        <div class="close-menu-contact">
            <i class="fas fa-times"></i>
        </div>
        
        <a rel="noreferrer noopener" href="../../index.html">HOME</a>
        <a rel="noreferrer noopener" href="../film/film.html">FILM</a>
        <a rel="noreferrer noopener" href="../gallery/gallery.html">GALLERY</a>
        <a rel="noreferrer noopener" href="../about/about.html">ABOUT</a>
        <a rel="noreferrer noopener" href="#">CONTACT</a>

        
        <div class="social-phone-contact">
            <a rel="noreferrer noopener" href=""><i class="fab fa-instagram"></i></a>
            <a rel="noreferrer noopener" href=""><i class="fab fa-youtube"></i></a>
            <a rel="noreferrer noopener" href=""><i class="fab fa-behance"></i></a>
            <a rel="noreferrer noopener" href=""><i class="fab fa-linkedin"></i></a>        
        </div>

    </div>

    <hr class="divition-line-contact">

    <article class="form-container-contact">

        <nav class="nav-container-contact">

            <ul>
                <li><a target="_blank" rel="noreferrer noopener" href="../../index.html">HOME</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="../film/film.html">FILM</a></A></li></a>
                <li><a target="_blank" rel="noreferrer noopener" href="../gallery/gallery.html">GALLERY</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="../about/about.html">ABOUT</a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="#">CONTACT</a></li>
            </ul>
    
        </nav>

        <div class="form-footer-contact">

            
            <h2>LET'S WORK TOGHETER</h2>

            <p>
                Let me know your project, your ideas or business so that we can build together a visual proposal 
                that manages to promote whatever you propose to me. Write me that I will be happy to answer you as soon as possible.
            </p>
            <p>
                Remember that at the end of the page you will find my social networks where you can also contact me if you wish.

            </p>
           

            <form class="form-contact"> 

                <input type="text" name="name" placeholder="NAME"><br>

                <input type="email" name="email" placeholder="E-MAIL"><br>

                <textarea name="message" cols="30" rows="3" placeholder="LEAVE YOUR MESSAGE"></textarea><br>

                <div class="container-submit-contact">
                    <input type="submit" value="SUBMIT">
                </div> 
                
            </form>

            <footer class="footer-container-contact">

                <hr>
        
                <ul>
                    <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-youtube"></i></a>
                    <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-behance"></i></a>
                    <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-linkedin"></i></a>
                </ul>
            </footer>
        </div>
    </article>

    <script src="script-contact.js"></script>
</body>
</html>