@import "sass-modules/extends";
@import "sass-modules/colors";
@import "sass-modules/typos";

*{
  @extend %reset
};

/* INDEX.HTML */

/* Formateo de estilos */


/* Fondo*/

.body-index{
  background-color: color(bg-index);
  display: flex;
  flex-flow:row wrap;
  overflow-x: hidden;
}

h1{
  font-size: 1px;
  color: color(bg-index);
}

/* Elementos que salen de esta maquetación*/

.medium-letter-front, 
.medium-nav-back,
.small-bars,
.close-menu i{
  display: none;
}

/*Sección navegacion + titulo*/

.nav-francisco-container{
  width: 53%;
  margin: 1rem 0 0 0;
}

/* Navegacion*/

.nav-container{
  width: 100%;
}

.nav-container ul{
  list-style: none;
  display: inline-block;
  text-align: center;
}

.nav-container li{
  display: inline-block;
  padding-right: .75rem;
  text-align: center;
}

.nav-container a{
  text-decoration: none;
  padding: .5rem;
  font-size: 1.3rem;
  font-family: $ff-primary;
  font-weight: lighter;
  color: color(text-link-color);
  transition: all .2s ease-in-out;
}

.nav-container a:hover{
  background-color: color(text-link-hover);
  border-radius: 2px;
}

.nav-flex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* Estilos del H1 principal */

.francisco-container{
  width: 100%;
  margin-top: 35%;
}

.francisco-container .main-container{
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  display: inline-block;
}

.francisco-container > .main-container span{
  font-size: clamp(5vw, 10vw, 5%);
  font-family: $ff-primary;
  color: color(color-logo);
}

.francisco-container span:nth-child(1) {
  font-family: $ff-primary;
  font-weight: bold;
  letter-spacing: -0.055rem
}

.francisco-container span:nth-child(2){
  font-weight: 500;
  letter-spacing: -0.055rem;
}

.francisco-container span:nth-child(3){
  font-weight: 400;
  letter-spacing: 0.045rem;
}


/* Estilos del "eslogan"*/

.francisco-container p{
  width: 100%;
  padding-left: 2.5rem;
  font-family: $ff-primary;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1.8rem;
  color: color(color-text);
}

/* Estilos de Banner de fotos */

.banner-fotos-container{
  width: 47%;
  height: 100vh;
}

.banner-grid{
  display: grid;
  grid-template-areas: 
  "foto1 foto1 foto2 foto2"
  "foto3 foto4 foto4 foto4"
  "foto3 foto6 foto6 foto7"
  "foto5 foto6 foto6 foto7"
  "foto5 foto6 foto6 foto8";
  grid-template-columns: 32.7% 19.1% 19.1% 29.1%;
  grid-template-rows: 25.4% 25.4% 13.8% 11.9% 23.5%;
}

.banner-fotos-container .foto1{
  grid-area: foto1;
}

.banner-fotos-container .foto2{
  grid-area: foto2;
}

.banner-fotos-container .foto3{
  grid-area: foto3;
}

.banner-fotos-container .foto4{
  grid-area: foto4;
}


.banner-fotos-container .foto5{
  grid-area: foto5;
}

.banner-fotos-container .foto6{
  grid-area: foto6;
}

.banner-fotos-container .foto7{
  grid-area: foto7;
}

.banner-fotos-container .foto8{
  grid-area: foto8;
}

.banner-fotos-container img{
  width: 100%;
}

.banner-fotos-container div{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  border: 1px solid color(borders);
}

.banner-fotos-container div:nth-child(1){
  background-image: url(../assets-index/foto1.jpg);
}

.banner-fotos-container div:nth-child(2){
  background-image: url(../assets-index/foto2.jpg);
}

.banner-fotos-container div:nth-child(3){
  background-image: url(../assets-index/foto3.jpg);
}

.banner-fotos-container div:nth-child(4){
  background-image: url(../assets-index/foto4.jpg);
}

.banner-fotos-container div:nth-child(5){
  background-image: url(../assets-index/foto5.jpg);
}

.banner-fotos-container div:nth-child(6){
  background-image: url(../assets-index/foto6.jpg);
}

.banner-fotos-container div:nth-child(7){
  background-image: url(../assets-index/foto7.jpg);
}

.banner-fotos-container div:nth-child(8){
  background-image: url(../assets-index/foto8.jpg);
}

/* Footer */

hr{
  width: 100%;
  border: 1px solid color(colors-icons-social);
  background-color: color(colors-icons-social);
  margin: 0 auto;
}

.footer-container{
  width: 47.2%;
  text-align: center;
  position: absolute;
  top: 93.5%;
  left: 2rem;
}

.footer-container ul{
  margin-top: 0.3rem;
}

.footer-container a{
  padding-left: 2rem;
}

.footer-container i{
  font-size: 1.5rem;
  color: color(colors-icons-social);
}

.fa-instagram, 
.fa-youtube, 
.fa-behance, 
.fa-linkedin{
  transition: all .3s ease-in-out;
}

.footer-container .fa-instagram:hover{
  color: color(instagram);
}

.footer-container .fa-youtube:hover{
  color: color(youtube);
}

.footer-container .fa-behance:hover{
  color: color(behance);
}

.footer-container .fa-linkedin:hover{
  color: color(linkedin);
}

.social-phone{
  display: none;
}


@media screen and (max-width: 1000px) {
  
  .francisco-container{
      margin-top: 43%;
  }

  .nav-container li{
    padding-right: .3rem;
  }

  .nav-container a{
    padding: 0 .3rem;
  }

}

@media screen and (max-width: 900px) {

  /* Elementos que salen de esta maquetación */

  .francisco-container .main-container span,
  .francisco-container p,
  .nav-container,
  .small-bars{
    display:none;
  }

  /* Medidas del contenedos derecho*/

  .nav-francisco-container{
    margin: 0;
  }

  .francisco-container{
    height: 90vh;
    margin: .8rem 0 0 0;
  }

  .francisco-container .main-container{
    margin: 0;
  }

  /* Letters */

  .medium-letter-container{
    width: 100%;
    height: 90vh;
  }

  .middle{
    position: relative;
    top: 50%;
    left: 0;
  }

  .medium-letter-front{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // transform: perspective(600px) rotateY(0deg);
  }

  /* Navegación */

  .medium-nav-back{
    width: 90%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: color(bg-index);
  }

  .medium-nav-back > a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-family: $ff-primary;
    font-weight: lighter;
    color: color(text-link-color);
  }

  .medium-nav-back, 
  .medium-letter-front{
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
  }

  .close-menu{
    display: block;
    position: absolute;
    width: 7%;
    margin-left: 1rem;
    text-align: center
  }

  .close-menu i{
    color: color(bars);
    font-size: 2rem;
    cursor:pointer;
  }

  .medium-letter-front img{
    width: 100%;
    height: auto;
    padding: 0 1rem;
  }

}

@media screen and (max-width: 700px){

  /* Reset de contenedores */

  .nav-francisco-container, 
  .francisco-container, 
  .main-container, 
  .medium-letter-container,
  .medium-nav-back{
    all: unset;
  }

  /* Elementos que salen de esta maquetación */ 

  .medium-letter-front{
    display: none;
  }

  /* Elemento que ingresa en esta maquetación */

  .francisco-container .main-container span{
    display:inline-block;
  }

  /* Flex para ubicar en columna para dispositivos pequeños */

  .body-index{
    display: flex;
    flex-flow: column nowrap;
  }

  .main-container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
  }

  .francisco-container .main-container span{
    font-size: 10vw;
    font-family: $ff-primary;
    margin-top: 1rem;
    margin-bottom: .3rem;
  }

  .medium-nav-back{
    margin-top: 1rem;
  }

  .medium-nav-back a{
    padding: .2rem .2rem;
    margin: 0 .3rem;
  }

  .banner-fotos-container{
    width: 100vw;
    margin-top: 1rem;
  }

  .footer-container{
    display: none;
  }

}

@media screen and (max-width: 500px){

  .small-bars{
    display: flex;
    justify-content: center; 
    color: color(bars); 
    margin-top: .5rem;
    cursor: pointer;
  }

  .small-bars i{
    font-size: 2rem;
  }

  .banner-fotos-container{
    margin-top: .5rem;
  }


  /* Estos estilos corresponden al panel de navegación que se desplegaria por medio de JS
  al darle tap al i "small-bars" */

  .medium-nav-back{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -200%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: color(bg-card-mobile);
    transition: top .5s ease-in-out;
  }

  .close-menu{
    position: absolute;
    top: 1rem;
    width: 7%;
    margin-left: 1rem;
    text-align: center;
  }

  .close-menu i{
    display: block;
    color: color(bars);
    font-size: 2rem;
    cursor:pointer;
  }


  .medium-nav-back > a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-family: $ff-primary;
    font-weight: lighter;
    color: color(text-link-color);

  }

  .social-phone{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
  }

  .social-phone a{
    padding: 0 1rem;
  }

  .social-phone i{
    font-size: 1.5rem;
    color: color(text-link-color);
  }
}

/*INDEX.HTML*/


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* ABOUT.HTML */


// Elementos que salen de esta maquetación
.close-menu-about{
  display: none;
}

.social-phone-about{
  display: none;
}

.small-bars-about{
  display: none;
}

// Elementos que salen de esta maquetación

/* Fondo */

.body-about{
  background-color: color(bg-about); 
  height: auto;
}

/* Navegacion + Logo */

.nav-container-about{
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.nav-container-about a{
  text-decoration: none;
  padding: .5rem;
  font-size: 1.5rem;
  font-family: $ff-primary;
  font-weight: lighter;
  color: color(color-nav-dark);
}

.nav-container-about a:hover{
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.nav-container-about > h1 span{
  font-size: 4.5rem;
  font-family: $ff-primary;
  color: color(color-logo-dark);
}

.nav-container-about span:nth-child(1) {
  font-family: $ff-primary;
  font-weight: bold;
  letter-spacing: -0.055rem
}

.nav-container-about span:nth-child(2){
  font-weight: 500;
  letter-spacing: -0.055rem;
}

.nav-container-about span:nth-child(3){
  font-weight: normal;
  letter-spacing: 0.045rem;
}

/* Estilos de la bio*/

.about-container{
  width: 100%;
  height: 65vh;
  margin-top: 2.5rem;
  padding: 0 2rem;
}

.about-container-flex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.about-container p{
  width: 33.5%;
  color: color(color-text-about);
  font-family: $ff-primary;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.43rem;
  text-align: center;
  text-transform: uppercase;
}

/* Estilos de imagen de perfil */


.about-container > div{
  width: 24.3%;
  height: 408px;
  background-image: url(../views/about/assets/foto-perfil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  border: color(borders) 1px solid;
}

/* Estilo de linea de división al footer */

.divition-line-about{
  margin-top: 2rem;
}

.divition-line-flex-about{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
}

.divition-line-about hr{  
  width: 20rem;
  border: 1px solid color(borders);
  background-color: color(borders);
}

/* Footer */

.footer-container-about{
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
}

.footer-container-about a{
  margin: 0 1rem;
}
 
.footer-container-about i {
  font-size: 1.5rem;
  color: color(color-icons-social-dark);
  margin-top: .5rem;
}

.fa-instagram, 
.fa-youtube, 
.fa-behance, 
.fa-linkedin{
  transition: all .3s ease-in-out;
}

.footer-container-about .fa-instagram:hover{
  color:color(instagram);
}

.footer-container-about .fa-youtube:hover{
  color: color(youtube);
}

.footer-container-about .fa-behance:hover{
  color: color(behance);
}

.footer-container-about .fa-linkedin:hover{
  color: color(linkedin);
}


@media screen and (max-width: 900px) {

  .body-about{
    overflow-y: visible;
  }


  .about-container-flex > div{
    order: -1;
    width: 50%;
  }

  .about-container p{
    width: 100%;
  }

  .bio{
    padding: 2rem;
  }

  .about-container{
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    padding: 0 2rem;
  }

  .about-container-flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 650px){

  .nav-container-about h1 >span{
    font-size: 3rem;
  }

  .about-container-flex > div{
    width: 80%;
  }

} 

@media screen and (max-width: 530px){

  //Elementos que salen de esta maquetación
      .footer-container-about{
        display: none;
      }
  //Elementos que salen de esta maquetación

      .about-container{
        margin-bottom: 2rem;
      }

      .small-bars-about{
        margin-top: .5rem;
        display: flex;
        justify-content: center; 
        color: color(bars-dark); 
        cursor: pointer;
      }
    
      .small-bars-about i{
        font-size: 2rem;
      }

      .mobile-menu-about{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -200%;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background: color(bg-card-mobile-about);
        cursor: pointer;
        transition: left .5s ease-in-out;
      }
    
      .close-menu-about{
        display: block;
        position: absolute;
        top: 1rem;
        width: 7%;
        margin-left: 1rem;
      }
    
      .close-menu-about i{
        color: color(bars);
        font-size: 2rem;
        cursor:pointer;
      }
    
      .mobile-menu-about > a{
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
        font-size: 1.3rem;
        font-family: $ff-primary;
        font-weight: lighter;
        color: color(text-link-color);
      }
    
      .social-phone-about{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        margin-top: 8rem;
      }
    
      .social-phone-about a{
        padding: 0 1.3rem;
      }
    
      .social-phone-about i{
        font-size: 1.5rem;
        color: color(text-link-color);
      }
}

@media screen and (max-width: 450px){
  .nav-container-about h1>span{
    font-size: 2.5rem;
  }
}
/* ABOUT.HTML */

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* CONTACT.HTML */


/* Fondo */

.body-contact{
  background-color: color(bg-contact);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
}

/* H1 */

.h1-imagenes-container-contact > h1{
   margin: 1rem 2rem;
}

.h1-imagenes-container-contact > h1 span{
   font-size: 2.25rem;
   font-family: $ff-primary;
   color: color(color-logo-dark);
}

 .h1-imagenes-container-contact span:nth-child(1) {
   font-family: $ff-primary;
   font-weight: bold;
   letter-spacing: -0.055rem
 }

.h1-imagenes-container-contact span:nth-child(2){
   font-weight: 500;
   letter-spacing: -0.055rem;
}

.h1-imagenes-container-contact span:nth-child(3){
   font-weight: 400;
   letter-spacing: 0.045rem;
}

/* Estilos imágenes*/

.h1-imagenes-container-contact{
  width: 44%;
  height: auto;
}

.section-imagenes-contact{
  width: 100%;
  height: 100vh;
  padding: 0 0 2rem 0;
  
}

.imagenes-flex-contact{
  display: flex;
  flex-flow: row nowrap;
}

.form-container-contact{
  width: 50%;
  height: 100%;
}

.h1-imagenes-container-contact div{
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

.h1-imagenes-container-contact img{
  width: 100%;
  height: 100%;
}

.h1-imagenes-container-contact div:nth-child(1){
  background-image: url(../views/contact/assets/foto1.jpg);
  @extend %photos-contact;
}

.h1-imagenes-container-contact div:nth-child(2){
  background-image: url(../views/contact/assets/foto2.jpg);
  @extend %photos-contact;
}

.h1-imagenes-container-contact div:nth-child(3){
  background-image: url(../views/contact/assets/foto3.jpg);
  @extend %photos-contact;
}

.divition-line-contact{
  width: 2px;
  height: 100vh;
  margin: 0;
}

 /* Navegador*/

.nav-container-contact{
  margin: 1rem 0;
}

.nav-container-contact ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.nav-container-contact li{
  padding: .3rem .75rem;
}

.nav-container-contact a{
  text-decoration: none;
  padding: .3rem .5rem;
  font-size: 1.3rem;
  font-family: $ff-primary;
  font-weight: lighter;
  color: color(color-nav-dark);
}

.nav-container-contact a:hover{
  text-decoration: underline;
}

/*Form + footer */

.form-footer-contact{
  width:100%;
  height: 100vh;
  display:flex;
  flex-flow: column nowrap;  
  justify-content: space-between;
}

/* Formulario */

.form-contact{
  width: 100%;
  height: auto;
}

.form-footer-contact h2{
  font-family: $ff-primary;
  color: color(color-text-contact);
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding-top: 7rem;
  display: inline-block;  
}

.form-container-contact input[type="text"],
.form-container-contact input[type="email"], 
.form-container-contact textarea{
  width: 100%;
  color: color(color-text-contact);
  font-family: $ff-primary;
  font-size: 1rem;
  line-height: 1.18rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid color(borders);
  padding-top: 2.5rem;
}

.form-container-contact textarea{
  resize: none;
}

.container-submit-contact{
  width: 100%;
  text-align: end;
}

.form-container-contact input[type="submit"]{
  background-color: transparent;
  color: color(color-text-contact);
  font-size: 1rem;
  font-family: $ff-primary;
  font-weight: normal;
  border: none;
  border: 1px solid color(borders);
  cursor: pointer;
  border-radius: 4px;
  margin-top: 2rem; 
  padding: .5rem;
}

/* Footer */

.footer-container-contact hr{
  
  border: 1px solid color(borders);
  background-color: color(borders);
}

.footer-container-contact{
  text-align: center;
}

.footer-container-contact a{
  padding: 0 1rem;
}

.footer-container-contact i {
  font-size: 1.5rem;
  color: color(color-icons-social-dark);
  padding: .5rem 0;
}

.fa-instagram, 
.fa-youtube, 
.fa-behance, 
.fa-linkedin{
  transition: all .3s ease-in-out;
}

.footer-container-contact .fa-instagram:hover{
  color: color(instagram);
}

.footer-container-contact .fa-youtube:hover{
  color: color(youtube);
}

.footer-container-contact .fa-behance:hover{
  color: color(behance);
}

.footer-container-contact .fa-linkedin:hover{
  color: color(linkedin);
}

.nav-devices{
  display: none;
}

.form-footer-contact p{
  display:none
}

.bars{
  display: none;
}

.mobile-menu-contact{
  display: none;
}

.small-bars-contact{
  display: none;
}

@media screen and (max-width: 1080px) {
  .body-contact{
    flex-direction: column;
    overflow-y: visible;
  }

  .section-imagenes-contact,
  .nav-container-contact{
    display: none;
  }


  .h1-imagenes-container-contact,
  .form-container-contact{
    width: 100%;
  }

  .divition-line-contact{
    display: none;
  }

  .h1-imagenes-container-contact{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
  }

  .nav-devices{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem 2rem;
    list-style:none;
  }

  .nav-devices li{
    padding: .3rem .75rem;
    
  }

  .nav-devices a{
    color: color(color-nav-dark);
    font-size: 1.3rem;
    font-weight: lighter;
    padding: .3 .5rem;
    font-family: $ff-primary;
    text-decoration: none;
    text-align: center;
  }

  .nav-devices a:hover{
    text-decoration: underline;
  }

  .form-container-contact{
    width: 70%;
    margin: 0 auto;
  }

  .footer-container-contact{
    margin-top: 6.5rem;
  }

  .form-footer-contact{
    margin-top: 2.5rem;
  }

  .form-footer-contact h2{
    margin-top: 0;
  }


  .form-container-contact p{
    display: block;
    font-family: $ff-primary;
    color: color(color-text-about);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0 ;
  }
}

@media screen and (max-width: 960px){
  
  .h1-imagenes-container-contact{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .h1-imagenes-container-contact h1{
    margin: 1rem auto 0 auto;
  }
  
  .h1-imagenes-container-contact h1 > span{
    font-size: 4.5rem;
  }

  .h1-imagenes-container-contact ul{
    margin: 0 auto;
  }

  .form-footer-contact h2{
    font-size: 2rem;
  }

  .form-footer-contact h2{
    padding-top: 2rem;
  }
} 

@media screen and (max-width: 670px){

// elementos que salen de esta maquetacion

  .nav-devices{
    display: none;
  }

  .footer-container-contact{
    display: none;  
  }

// elementos que salen de esta maquetacion

  .h1-imagenes-container-contact h1 > span{
    font-size: 3.5rem;
  }

  .form-container-contact{
    margin-bottom: 2rem;
  }

  .small-bars-contact{
    margin-top: .5rem;
    display: flex;
    justify-content: center; 
    color: color(bars-dark); 
    cursor: pointer;
  }

  .small-bars-contact i{
    font-size: 2rem;
  }

  .mobile-menu-contact{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: #ECD1FF;
    transition: right .5s ease-in-out;
  }

  .close-menu-contact{
    position: absolute;
    top: 1rem;
    width: 7%;
    margin-left: 1rem;
    text-align: center
  }

  .close-menu-contact i{
    color: color(bars-dark);
    font-size: 2rem;
    cursor:pointer;
  }

  .mobile-menu-contact > a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-family: $ff-primary;
    font-weight: lighter;
    color: color(color-text-contact);
  }

  .social-phone-contact{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
  }

  .social-phone-contact a{
    padding: 0 1.3rem;
  }

  .social-phone-contact i{
    font-size: 1.5rem;
    color: color(color-icons-social-dark);
  }

  .h1-imagenes-container-contact i{
    color: color(bars-dark);
    font-size: 1.5rem;
    margin-top: .5rem;
    cursor: pointer;
  }

  .form-footer-contact h2{
    font-size: 1.8rem;
  }

  .form-footer-contact p{
    font-size: 1rem;
  } 
}

@media screen and (max-width: 500px){
  .h1-imagenes-container-contact h1> span{
    font-size: 3rem;
  }

  .form-footer-contact h2{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 450px){
  .h1-imagenes-container-contact h1>span{
    font-size: 2.5rem;
  }
}


//CONTACT.HTML

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* FILM.HTML */

/* Fondo */

.body-film{
  background-color: color(bg-film);
  height: 100vh;
}

/*Navegador + Logo*/


.nav-container-film{
  padding: 1rem 0rem 1rem 2rem;
}

.nav-container-flex-film{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-film{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 2rem;
}


.nav-container-film a{
  text-decoration: none;
  padding: .1rem .5rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  font-family: $ff-primary;
  font-weight: lighter;
  color: color(color-nav-dark);
  transition: background-color .2s ease-in-out;
}

.nav-container-film a:hover{
  background-color: rgba(255, 68, 0, .5);
  border-radius: 2px;
}

.nav-container-film > h1 span{
  font-size: 2.25rem;
  font-family: $ff-primary;
  color: color(color-logo-dark);
}

.nav-container-film span:nth-child(1) {
  font-family: $ff-primary;
  font-weight: bold;
  letter-spacing: -0.055rem
}

.nav-container-film span:nth-child(2){
  font-weight: 500;
  letter-spacing: -0.055rem;
}

.nav-container-film span:nth-child(3){
  font-weight: 400;
  letter-spacing: 0.045rem;
}

/*Estilos de video*/

.video-container-film{
  width: 100%;
  height: 100%;
}

.thumbnail-video-film{
  width: 100%;
  height: 100%;
  background-image: url(../views/film/assets/thumbnail-video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  border: color(borders) 1px solid;
}

/* Footer */

.divition-line-film{
  margin-top: 2rem;
}

.divition-line-flex-film{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.divition-line-film hr{
  width: 20rem;
  border: 1px solid color(borders);
  background-color: color(borders);
}

/* Footer */

.footer-container-film{
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
}

.footer-container-film a{
  margin: 0 1rem;
}

.footer-container-film i {
  font-size: 1.5rem;
  color: color(color-icons-social-dark);
  margin-top: .5rem;
}

.fa-instagram, 
.fa-youtube, 
.fa-behance, 
.fa-linkedin{
  transition: all .3s ease-in-out;
}

.footer-container-film .fa-instagram:hover{
  color: color(instagram);
}

.footer-container-film .fa-youtube:hover{
  color: color(youtube);
}

.footer-container-film .fa-behance:hover{
  color: color(behance);
}

.footer-container-film .fa-linkedin:hover{
  color: color(linkedin);
}

.mobile-menu-film{
  display: none;
}

.small-bars-film{
  display: none;
}

@media screen and (max-width: 1024px){

  .nav-container-film{
    padding: 1rem 0rem 1rem 0;
  }
  
  .nav-container-flex-film{
    flex-flow: column nowrap;
  }

  .nav-film{
    margin: 0;
  }

  .nav-container-film h1 > span{
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 710px) {
  .nav-container-film h1 > span{
    font-size: 3rem;
  }
}

@media screen and (max-width: 530px) {

  .nav-film{
    display: none;
  }

  .footer-container-film,
  .divition-line-film{
    display: none;
  }

  .video-container-film{
    margin-bottom: 2rem;
  }

  .nav-container-film ul{
    display: none;
  }

  .small-bars-film{
    margin-top: .5rem;
    display: flex;
    justify-content: center; 
    color: color(bars-dark); 
    cursor: pointer;
  }

  .small-bars-film i{
    font-size: 2rem;
  }

  .mobile-menu-film{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -200%;
    left: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: #fc024f;
    transition: top .5s ease-in-out;
  }

  .close-menu-film{
    display: block;
    position: absolute;
    top: 1rem;
    width: 7%;
    margin-left: 1rem;
    text-align: center;
  }

  .close-menu-film i{
    color: color(bars);
    font-size: 2rem;
    cursor:pointer;
  }

  .mobile-menu-film > a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-family: $ff-primary;
    font-weight: lighter;
    color: color(text-link-color);
  }

  .social-phone-film{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
  }

  .social-phone-film a{
    padding: 0 1.3rem;
  }

  .social-phone-film i{
    font-size: 1.5rem;
    color: color(text-link-color);
  }

}

@media screen and (max-width: 500px) {

  .nav-container-film h1{
    margin: 0;
  }

  .nav-container-film h1 > span{
    font-size: 2.5rem;
  }

  .nav-container-film{
    margin: 0;
    padding: 1rem 0;
  }
}





/*FILM.HTML*/

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/* GALLERY.HTML */

.body-gallery{
  background-color: color(bg-gallery);
  overflow-x: initial;
  overflow-y: hidden;
}

/*Navegador + Logo*/

.nav-container-gallery{
  margin: 1rem 0;
  position: fixed;
}

.nav-container-flex-gallery{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-container-gallery ul{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  
}

.nav-container-gallery li{
  padding: 0 .75rem;
}

.nav-container-gallery a{
  text-decoration: none;
  font-size: 1.3rem;
  padding: .1rem .5rem;
  font-family: $ff-primary;
  font-weight: lighter;
  color: color(color-nav-light);
  transition: background-color .2s ease-in-out;
}

.nav-container-gallery a:hover{
  background-color: color(text-link-hover);
  border-radius: 2px;
}

.nav-container-gallery h1{
  margin: 0 2rem;
}

.nav-container-gallery > h1 span{
  font-size: 2.25rem;
  font-family: $ff-primary;
  color: color(color-logo);
}

.nav-container-gallery span:nth-child(1) {
  font-family: $ff-primary;
  font-weight: bold;
  letter-spacing: -0.055rem
}

.nav-container-gallery span:nth-child(2){
  font-weight: 500;
  letter-spacing: -0.055rem;
}

.nav-container-gallery span:nth-child(3){
  font-weight: 400;
  letter-spacing: 0.045rem;
}


/*Estilos de fotos*/

.banner-fotos-container-gallery{
  width: 200%;
  height: 100vh;
  padding-top: 69px; 
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
}

.banner-fotos-container-gallery .banner-grid-1-gallery{
  @extend %container-grid-gallery;
}

.banner-fotos-container-gallery .banner-grid-2-gallery{
  @extend %container-grid-gallery;
}

.banner-fotos-container-gallery .banner-grid-3-gallery{
  @extend %container-grid-gallery;
}

.banner-fotos-container-gallery .banner-grid-4-gallery{
  @extend %container-grid-gallery;
}

.banner-fotos-container-gallery img{
  width: 100%;
}

/* Banner grid 1*/

.banner-fotos-container-gallery .banner-grid-1-gallery{
  display: grid;
  grid-template-areas: 
  "foto1 foto1 foto2 foto2"
  "foto3 foto4 foto4 foto4"
  "foto3 foto6 foto6 foto7"
  "foto5 foto6 foto6 foto7"
  "foto5 foto6 foto6 foto8";
  @extend %grid-template-cl-row;
}

/* Banner grid 2*/

.banner-fotos-container-gallery .banner-grid-2-gallery{
  display: grid;
  grid-template-areas: 
  "foto9 foto10 foto10 foto10"
  "foto11 foto12 foto12 foto13"
  "foto11 foto12 foto12 foto16"
  "foto14 foto12 foto12 foto16"
  "foto14 foto15 foto15 foto16";
  @extend %grid-template-cl-row;
}

/* Banner grid 3*/

.banner-fotos-container-gallery .banner-grid-3-gallery{
  display: grid;
  grid-template-areas: 
  "foto17 foto17 foto18 foto18"
  "foto19 foto20 foto20 foto21"
  "foto22 foto20 foto20 foto24"
  "foto22 foto20 foto20 foto24"
  "foto22 foto23 foto23 foto24";
  @extend %grid-template-cl-row;
}


/* Banner grid 4*/

.banner-fotos-container-gallery .banner-grid-4-gallery{
  display: grid;
  grid-template-areas: 
  "foto25 foto25 foto26 foto26"
  "foto27 foto28 foto28 foto29"
  "foto27 foto31 foto31 foto29"
  "foto30 foto31 foto31 foto32"
  "foto30 foto31 foto31 foto32";
  @extend %grid-template-cl-row;
}

/* GRID AREA*/

/* Banner grid 1*/

.banner-fotos-container-gallery .foto1-gallery{
  grid-area: foto1;
} 

.banner-fotos-container-gallery .foto2-gallery{
  grid-area:  foto2;
}

.banner-fotos-container-gallery .foto3-gallery{
  grid-area: foto3;
}

.banner-fotos-container-gallery .foto4-gallery{
  grid-area: foto4;
}

.banner-fotos-container-gallery .foto5-gallery{
  grid-area: foto5;
}

.banner-fotos-container-gallery .foto6-gallery{
  grid-area: foto6;
}

.banner-fotos-container-gallery .foto7-gallery{
  grid-area: foto7;
}

.banner-fotos-container-gallery .foto8-gallery{
  grid-area: foto8;
}

/* Banner grid 2 */

.banner-fotos-container-gallery .foto9-gallery{
  grid-area: foto9;
} 

.banner-fotos-container-gallery .foto10-gallery{
  grid-area: foto10;
}

.banner-fotos-container-gallery .foto11-gallery{
  grid-area: foto11;
}

.banner-fotos-container-gallery .foto12-gallery{
  grid-area: foto12;
}

.banner-fotos-container-gallery .foto13-gallery{
  grid-area: foto13;
}

.banner-fotos-container-gallery .foto14-gallery{
  grid-area: foto14;
}

.banner-fotos-container-gallery .foto15-gallery{
  grid-area: foto15;
}

.banner-fotos-container-gallery .foto16-gallery{
  grid-area: foto16;
}

/* Banner grid 3 */

.banner-fotos-container-gallery .foto17-gallery{
  grid-area: foto17;
} 

.banner-fotos-container-gallery .foto18-gallery{
  grid-area: foto18;
}

.banner-fotos-container-gallery .foto19-gallery{
  grid-area: foto19;
}

.banner-fotos-container-gallery .foto20-gallery{
  grid-area: foto20;
}

.banner-fotos-container-gallery .foto21-gallery{
  grid-area: foto21;
}

.banner-fotos-container-gallery .foto22-gallery{
  grid-area: foto22;
}

.banner-fotos-container-gallery .foto23-gallery{
  grid-area: foto23;
}

.banner-fotos-container-gallery .foto24-gallery{
  grid-area: foto24;
}

.banner-fotos-container-gallery .foto25-gallery{
  grid-area: foto25;
}

.banner-fotos-container-gallery .foto26-gallery{
  grid-area: foto26;
}

.banner-fotos-container-gallery .foto27-gallery{
  grid-area: foto27;
}

.banner-fotos-container-gallery .foto28-gallery{
  grid-area: foto28;
}

.banner-fotos-container-gallery .foto29-gallery{
  grid-area: foto29;
}

.banner-fotos-container-gallery .foto30-gallery{
  grid-area: foto30;
}

.banner-fotos-container-gallery .foto31-gallery{
  grid-area: foto31;
}

.banner-fotos-container-gallery .foto32-gallery{
  grid-area: foto32;
}

.banner-grid-1-gallery div:hover{
  
  transition: transform .5s ease-in-out;

}

/* Estilos de fotos del banner grid 1*/

.banner-grid-1-gallery div{
  @extend %grid-pics-gallery;
}

.banner-grid-1-gallery div:nth-child(1){
  background-image: url(../views/gallery/assets/foto1.jpg);  
}

.banner-grid-1-gallery div:nth-child(2){
  background-image: url(../views/gallery/assets/foto2.jpg);
}

.banner-grid-1-gallery div:nth-child(3){
  background-image: url(../views/gallery/assets/foto3.jpg);
}

.banner-grid-1-gallery div:nth-child(4){
  background-image: url(../views/gallery/assets/foto4.jpg);
}

.banner-grid-1-gallery div:nth-child(5){
  background-image: url(../views/gallery/assets/foto5.jpg);
}

.banner-grid-1-gallery div:nth-child(6){
  background-image: url(../views/gallery/assets/foto6.jpg);
}

.banner-grid-1-gallery div:nth-child(7){
  background-image: url(../views/gallery/assets/foto7.jpg);
}

.banner-grid-1-gallery div:nth-child(8){
  background-image: url(../views/gallery/assets/foto8.jpg);
}

/* Estilos de fotos del banner grid 2*/

.banner-grid-2-gallery div{
  @extend %grid-pics-gallery;
}

.banner-grid-2-gallery div:nth-child(1){
  background-image: url(../views/gallery/assets/foto9.jpg);  
}

.banner-grid-2-gallery div:nth-child(2){
  background-image: url(../views/gallery/assets/foto10.jpg);
}

.banner-grid-2-gallery div:nth-child(3){
  background-image: url(../views/gallery/assets/foto11.jpg);
}

.banner-grid-2-gallery div:nth-child(4){
  background-image: url(../views/gallery/assets/foto12.jpg);
}

.banner-grid-2-gallery div:nth-child(5){
  background-image: url(../views/gallery/assets/foto13.jpg);
}

.banner-grid-2-gallery div:nth-child(6){
  background-image: url(../views/gallery/assets/foto14.jpg);
}

.banner-grid-2-gallery div:nth-child(7){
  background-image: url(../views/gallery/assets/foto15.jpg);
}

.banner-grid-2-gallery div:nth-child(8){
  background-image: url(../views/gallery/assets/foto16.jpg);
}

/* Estilos de fotos del banner grid 3*/

.banner-grid-3-gallery div{
  @extend %grid-pics-gallery;
}

.banner-grid-3-gallery div:nth-child(1){
  background-image: url(../views/gallery/assets/foto17.jpg);  
}

.banner-grid-3-gallery div:nth-child(2){
  background-image: url(../views/gallery/assets/foto18.jpg);
}

.banner-grid-3-gallery div:nth-child(3){
  background-image: url(../views/gallery/assets/foto19.jpg);
}

.banner-grid-3-gallery div:nth-child(4){
  background-image: url(../views/gallery/assets/foto20.jpg);
}

.banner-grid-3-gallery div:nth-child(5){
  background-image: url(../views/gallery/assets/foto21.jpg);
}

.banner-grid-3-gallery div:nth-child(6){
  background-image: url(../views/gallery/assets/foto22.jpg);
}

.banner-grid-3-gallery div:nth-child(7){
  background-image: url(../views/gallery/assets/foto23.jpg);
}

.banner-grid-3-gallery div:nth-child(8){
  background-image: url(../views/gallery/assets/foto24.jpg);
}

/* Estilos de fotos del banner grid 4*/

.banner-grid-4-gallery div{
  @extend %grid-pics-gallery;
}

.banner-grid-4-gallery div:nth-child(1){
  background-image: url(../views/gallery/assets/foto25.jpg);  
}

.banner-grid-4-gallery div:nth-child(2){
  background-image: url(../views/gallery/assets/foto26.jpg);
}

.banner-grid-4-gallery div:nth-child(3){
  background-image: url(../views/gallery/assets/foto27.jpg);
}

.banner-grid-4-gallery div:nth-child(4){
  background-image: url(../views/gallery/assets/foto28.jpg);
}

.banner-grid-4-gallery div:nth-child(5){
  background-image: url(../views/gallery/assets/foto29.jpg);
}

.banner-grid-4-gallery div:nth-child(6){
  background-image: url(../views/gallery/assets/foto30.jpg);
}

.banner-grid-4-gallery div:nth-child(7){
  background-image: url(../views/gallery/assets/foto31.jpg);
}

.banner-grid-4-gallery div:nth-child(8){
  background-image: url(../views/gallery/assets/foto32.jpg);
}

.small-bars-gallery{
  display: none;
}

@media screen and (max-width: 1024px) {
    .nav-container-flex-gallery{
      flex-flow: column nowrap;
    }

    .banner-fotos-container-gallery{
      padding-top: 150px;
    }

    .nav-container-gallery h1 > span{
      font-size: 4.5rem;
    }
}

@media screen and (max-width:800px){

  .banner-fotos-container-gallery{
    width: 250%;
  }
}

@media screen and (max-width: 710px) {
  .nav-container-gallery h1 > span{
    font-size: 3rem;
  }
  .banner-fotos-container-gallery{
    padding-top: 120px;
  }

  .banner-fotos-container-gallery{
    width: 400%;
  }
}

@media screen and (max-width:570px) {
    .nav-container-gallery ul{
      display: none;
    }

    .small-bars-gallery{
      display: block;
      color: color(bars-dark);
      margin-top: .5rem;
      cursor: pointer;
    }

    .small-bars-gallery i{
      font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {

  .nav-container-gallery h1{
    margin: 0;
  }

  .nav-container-gallery h1 > span{
    font-size: 2.5rem;
  }

  .banner-fotos-container-gallery{
    width: 500%;
  }
}
