<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Francisco Lago | Galería</title>
    <meta name="description" content= "Encuentra todo mi trabajo fotográfico aquí">
    <meta name="keywords" content="francisco, Lago, francisco, lago, fotos, fotografia, fotógrafo">
    <meta property= "og:title" content="Francisco Lago | Audiovisual">
    <meta property = "og:description" content="Conoce todo el trabajo audiovisual de Francisco Lago, enterate de sus más recientes trabajos y comunicate con él para trabajar juntos">
    <meta property = "og:image" content="assets-index/foto-perfil.jpg">
    <meta name="geo.region" content="CO-VAC" />
    <meta name="geo.placename" content="Cali" />
    <meta name="geo.position" content="3.451792;-76.532494" />
    <meta name="ICBM" content="3.451792, -76.532494" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../fontawesome/all.min.css"> 

</head>

<body class="body-gallery">
    <nav class="nav-container-gallery  nav-container-flex-gallery">
        <h1> 
            <span>FRANCI</span><span>SCO </span> <span>LAGO</span>
        </h1>

        <div class="small-bars-gallery">
            <i aria-label="Menu Bars" class="fas fa-bars"></i>
        </div>
        
        <ul>
            <li><a target="_blank" rel="noreferrer noopener" href="../../index.html">HOME</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="../film/film.html">FILM</a></A></li></a>
            <li><a target="_blank" rel="noreferrer noopener" href="#">GALLERY</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="../about/about.html">ABOUT</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="../contact/contact.html">CONTACT</a></li>
        </ul>
    </nav>

    <section class="banner-fotos-container-gallery">

        <div class="banner-grid-1-gallery">
            <div class="foto1-gallery" title="Hombre de perfil"><a href=""></a></div>
            <div class="foto2-gallery" title="Mujer con mano apoyada"><a href=""></a></div>
            <div class="foto3-gallery" title="Hombre con gafas de sol"><a href=""></a></div>
            <div class="foto4-gallery" title="Mujer en una ciudad"><a href=""></a></div>
            <div class="foto5-gallery" title="Hombre con turbante"><a href=""></a></div>
            <div class="foto6-gallery" title="Mujer mirando fijamente"><a href=""></a></div>
            <div class="foto7-gallery" title="Hombre con sombrero naranja"><a href=""></a></div>
            <div class="foto8-gallery" title="Chico mirando de frente"><a href=""></a></div>
        </div>
        
        <div class="banner-grid-2-gallery">
            <div class="foto9-gallery" title="gente cruzando la calle"><a href=""></a></div>
            <div class="foto10-gallery" title="Chico mirando"><a href=""></a></div>
            <div class="foto11-gallery" title="Mujer sonriendo"><a href=""></a></div>
            <div class="foto12-gallery" title="Dos mujeres charlando"><a href=""></a></div>
            <div class="foto13-gallery" title="Mujer vestida de negro"><a href=""></a></div>
            <div class="foto14-gallery" title="Chico con sombrero"><a href=""></a></div>
            <div class="foto15-gallery" title="Calle desde arriba"><a href=""></a></div>
            <div class="foto16-gallery" title="Hombre sonriendo"><a href=""></a></div>
        </div>

        <div class="banner-grid-3-gallery">
            <div class="foto17-gallery" title="Mujer con naranjas"><a href=""></a></div>
            <div class="foto18-gallery" title="Chico sonriendo"><a href=""></a></div>
            <div class="foto19-gallery" title="Mujer rubia"><a href=""></a></div>
            <div class="foto20-gallery" title="Mujer posando a la camara"><a href=""></a></div>
            <div class="foto21-gallery" title="Gente en la montaña"><a href=""></a></div>
            <div class="foto22-gallery" title="Mujer vestida de amarillo"><a href=""></a></div>
            <div class="foto23-gallery" title="Hombre y niño charlando"><a href=""></a></div>
            <div class="foto24-gallery" title="Persona corriendo"><a href=""></a></div>
        </div>

        <div class="banner-grid-4-gallery">
            <div class="foto25-gallery" title="Pareja bailando"><a href=""></a></div>
            <div class="foto26-gallery" title="Hombre caminando"><a href=""></a></div>
            <div class="foto27-gallery" title="Pareja abrazada"><a href=""></a></div>
            <div class="foto28-gallery" title="Personas en bicicleta"><a href=""></a></div>
            <div class="foto29-gallery" title="Personas en la montaña"><a href=""></a></div>
            <div class="foto30-gallery" title="Hombre en una fogata"><a href=""></a></div>
            <div class="foto31-gallery" title="Persona lanzando una patada"><a href=""></a></div>
            <div class="foto32-gallery" title="Boxeador"><a href=""></a></div>
        </div>
        
    </section>
</body>
</html>