<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Francisco Lago | Films</title>
    <meta name="description" content="Conoce mi más reciente trabajo audiovisual">
    <meta name="keywords" content="Francisco, Lago, francisco, lago, audiovisual">
    <meta property= "og:title" content="Francisco Lago | Audiovisual">
    <meta property = "og:description" content="Conoce todo el trabajo audiovisual de Francisco Lago, enterate de sus más recientes trabajos y comunicate con él para trabajar juntos">
    <meta property = "og:image" content="assets-index/foto-perfil.jpg">
    <meta name="geo.region" content="CO-VAC" />
    <meta name="geo.placename" content="Cali" />
    <meta name="geo.position" content="3.451792;-76.532494" />
    <meta name="ICBM" content="3.451792, -76.532494" />
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../fontawesome/all.min.css"> 
</head>

<body class="body-film">
    <nav class="nav-container-film  nav-container-flex-film">
        <h1> 
            <span>FRANCI</span><span>SCO </span> <span>LAGO</span>
        </h1>
        <ul>
            <li><a target="_blank" rel="noreferrer noopener" href="../../index.html">HOME</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="#">FILM</a></A></li></a>
            <li><a target="_blank" rel="noreferrer noopener" href="../gallery/gallery.html">GALLERY</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="../about/about.html">ABOUT</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="../contact/contact.html">CONTACT</a></li>
        </ul>
    </nav>

    <section class="video-container-film">
        <video controls>
            <source src="assets/Lagos Beach in Portugal.mp4">
            Your browser doesn't support the video
        </video>
    </section>

    <div class="divition-line-film  divition-line-flex-film">
        <hr>
    </div>

    <footer class="footer-container-film">

        <ul>
            <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-instagram"></i></a>
            <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-youtube"></i></a>
            <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-behance"></i></a>
            <a target="_blank" rel="noreferrer noopener" href="#"><i class="fab fa-linkedin"></i></a>
        </ul>
    </footer>
</body>
</html>