/* Formateo de estilos */

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Fondo */

body{
    /* background-color: #D7B377; */
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); 
    height: 100vh;
}

/* Navegacion + Logo */

.nav-container{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.nav-container > ul{
    position: relative;
    width: 100%;
}

.nav-container li{
    display: inline-block;
    /* padding: .75rem; */
    text-align: left;
}

.nav-container a{
    text-decoration: none;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #452414;
}

.nav-container a:hover{
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

.nav-container > h1 span{
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    color: #452414;
}

.nav-container span:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: -0.055rem
}

.nav-container span:nth-child(2){
    font-weight: 500;
    letter-spacing: -0.055rem;
}

.nav-container span:nth-child(3){
    font-weight: normal;
    letter-spacing: 0.045rem;
}

/* Estilos de la bio*/

.about-container{
    width: 100%;
    height: 408px;
    margin-top: 2.5rem;
    padding: 0 2rem;
}

.about-container-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.about-container p{
    width: 33.5%;
    color: #44342c;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.43rem;
    text-align: center;
    text-transform: uppercase;
}

/* Estilos de imagen de perfil */


.about-container > div{
    width: 24.3%;
    height: 408px;
    background-image: url(../../about/assets/foto-perfil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    border: #44342c 1px solid;
}

/* Estilo de linea de división al footer */

.divition-line{
    margin: 0 2rem;
}

.divition-line hr{  
    width: 29.9%
}

.divition-line-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/* Footer */


.footer-container-main{
    margin-top: 1.5rem;
}

.footer-container{
    margin: 0 2rem;
}

.flex-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}


.footer-container i {
    font-size: 1.5rem;
    color: #452414;
    padding: .5rem 1rem;
}

.fa-instagram, 
.fa-youtube, 
.fa-behance, 
.fa-linkedin{
    transition: all .3s ease-in-out;
}

.footer-container .fa-instagram:hover{
    color: #515BD4;
}

.footer-container .fa-youtube:hover{
    color: #FF0000;
}

.footer-container .fa-behance:hover{
    color: #00825A;
}

.footer-container .fa-linkedin:hover{
    color: #0077B5;
}